.home-ttl {
  margin-top: .5em;
  margin-bottom: 3em;

@include ttl-top(24%,top);
}
.home-item {
  margin-bottom: 4em;
}
.home-nav {
  display: flex;

  justify-content: center;
}
.home-nav li {
  list-style-type: none;
  text-align: center;

@include ttl-small-text;

@include boxbtn-tool(auto,a) {
    display: inline-block;
    padding: .5em 0;
  }

  & + li {
    margin-left: 1em;
  }
}

$backimage-size-h: 600px;//背景画像の高さ
.home-message-wrap {
  position: relative;
  padding-top: $backimage-size-h / 8 ;
  padding-bottom: $backimage-size-h / 8 ;
  &:before {
    width: 40%;
    background: url(../img/usagi.png) no-repeat center center/contain;

@include position-tool($top: 0, $right: 0, $bottom: 0);
  }
}
.home-message-text {
  width: 60%;
  text-align: center;
}

//タブレット=====================
@include mq {
  .home-nav {
    & li {
      width: 25%;
      & + li {
        margin-left: 1.5em;
      }
    }
  }
  .home-message-wrap {
    padding-top: $backimage-size-h / 3 ;
    padding-bottom: $backimage-size-h / 3 ;
  }
}

//PS=====================
@include mq(pc) {
  .home-ttl,
  .home-item {
    margin-bottom: 160px;
  }
}
