//アンダーライン---------------------
.hover-underline {
  position: relative;
  &:before {
    border-bottom: $border-tool;
    transition: .5s;
    transform: scaley(0);

@include position-tool(0,-8px,0,-8px);
  }&:hover:before {
    transform: scale(1);
  }
  &:hover {
    text-shadow: 0 0 2px $sub-color;
  }
}

//グレーシャドー---------------------
.hover-inner-shadow {
  transition: .3s;
  &:hover {
    box-shadow: 0 0 16px 16px $sub-color-light inset;
    text-shadow: 0 0 4px $sub-color;
  }
}


//二重線伸縮---------------------
.hover-double-line {
  position: relative;
  border: none;
  &:after,
  &:before {
    z-index:-1;
    @include position-tool(0,0,0,0);
    border: $border-tool;
    content: '';
    transition: transform .2s ;
  }
  &:after {
    transform: translate(3px, 3px);
  }
  &:before {
    transform: translate(-3px, -3px);
  }
  &:hover {
    &:after,
    &:before {
      transform: translate(0);
    }
  }
}
